<h1>Lists</h1>
<ul>
  <% @lists.each do |list| %>
    <li>
      <%=link_to list.name, list_path(list)%>
    </li>
  <% end %>
</ul>
<%= cl_image_tag("zgnfnlp6gavdz7qg5c6c", width: 400, height: 300, crop: :fill)%>
