<div class="container mt-4">
  <h2><%= @list.name %></h2>
  <% if @list.movies.empty? %>
    <p> You don't have any movies in this list.</p>
  <% else %>
    <ul>
      Movies:
      <%@list.movies do |movie|%>
        <li>
          <%=link_to movie.title, movie %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
