.buttom-white {
  color: white;
  font-weight: 500;
  border: 5px solid white;
  background-color: lightslategrey;
  padding: 8px 24px;
  border-radius: 50px;
}

.buttom-white:hover{
  opacity: 0 !important;
}
